<main class="flex-shrink-0">
  <div class="container">
    <div class="bg-light p-5 rounded">
      <h1>CQCIAS Personas</h1>
      <p class="lead">
        Proyecto de demostración de CRUD usando
        <code class="small">Spring Boot</code> y
        <code class="small">Angular</code>.
      </p>
      <div>
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#modalPerson"
          class="btn btn-primary"
        >
          Agregar persona
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <table id="tablePersons" class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">nombre</th>
          <th scope="col">telefono</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listPersons">
          <td scope="col">{{ item.id }}</td>
          <td scope="col">
            {{ item.nombre }} {{ item.primer_apellido }}
            {{ item.segundo_apellido }}
          </td>
          <td scope="col">{{ item.telefono }}</td>
          <td scope="col">
            <div class="d-flex justify-content-center text-center">
              <button
                type="button"
                class="btn btn-primary m-1"
                (click)="selectItem(item)"
                data-bs-toggle="modal"
                data-bs-target="#modalPerson"
              >
                <i class="fa fa-pencil"></i>
              </button>

              <button
                type="button"
                class="btn btn-danger m-1"
                (click)="delete(item.id)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- modal -->
  <div
    class="modal fade"
    id="modalPerson"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalPersonLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!isUpdate" class="modal-title" id="modalPersonLabel">
            Agregar persona
          </h5>
          <h5 *ngIf="isUpdate" class="modal-title" id="modalPersonLabel">
            Modificar persona
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formPerson">
            <div class="row g-2 mt-2 align-items-center">
              <div class="col-4 mt-2">
                <label class="col-form-label">Nombre</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombre"
                />
              </div>
            </div>
            <div class="row g-2 mt-2 align-items-center">
              <div class="col-4">
                <label class="col-form-label">Apellido paterno</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="primer_apellido"
                />
              </div>
            </div>
            <div class="row g-2 mt-2 align-items-center">
              <div class="col-4">
                <label class="col-form-label">Apellido materno</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="segundo_apellido"
                />
              </div>
            </div>
            <div class="row g-2 mt-2 align-items-center">
              <div class="col-4">
                <label class="col-form-label">Telefono</label>
              </div>
              <div class="col-8">
                <input
                  (keydown)="onKeydown($event)"
                  type="text"
                  class="form-control"
                  formControlName="telefono"
                />
              </div>
            </div>
            <div *ngIf="isUpdate" class="row g-2 mt-2 align-items-center">
              <div class="col-4">
                <label class="col-form-label">fecha de creación</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="fecha_ins"
                />
              </div>
            </div>
            <div *ngIf="isUpdate" class="row g-2 mt-2 align-items-center">
              <div class="col-4">
                <label class="col-form-label">Fecha de actualización</label>
              </div>
              <div class="col-8">
                <input
                  type="text"
                  class="form-control"
                  formControlName="fecha_upd"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Cerrar
          </button>
          <button
            (click)="save()"
            *ngIf="!isUpdate"
            type="button"
            class="btn btn-success"
          >
            Guardar
          </button>

          <button
            (click)="update()"
            *ngIf="isUpdate"
            type="button"
            class="btn btn-warning"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
